#clock {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0 15px 15px 0;
    background-color: white;
    z-index: 999;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 230px;
}